<div>
  <fieldset>
    <legend>Reservation View</legend>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Enter name">
    </div>
    <div>
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="Enter email">
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="text" id="phone" placeholder="Enter phone">
    </div>
    <div>
      <label for="date">Date</label>
      <input type="date" id="date" placeholder="Enter date">
    </div>
    <div>
      <label for="time">Time</label>
      <input type="time" id="time" placeholder="Enter time">
    </div>
    <div>
      <label for="guests">Guests</label>
      <input type="number" id="guests" placeholder="0">
    </div>
    <div>
      <label for="message">Message</label>
      <textarea id="message" cols="50" rows="6"></textarea>
    </div>
    <button type="submit">Valider la réservation</button>
  </fieldset>
</div>
